<div class="container">
  <div class="panel left hover-box">
    <img src="assets/images/lib2.png" alt="Left Image" />
  </div>

  <div class="panel center hover-box">
    <div class="login-box">
      <h2>Login</h2>
      <form>
        <div>
          <label for="email">Email</label>
          <input id="email" [(ngModel)]="email" name="email" type="text" placeholder="Enter email"  />
        </div>

        <div>
          <label for="password">Password</label>
          <input
            id="password"
            [(ngModel)]="password"
            name="password"
            [type]="showPassword ? 'text' : 'password'"
          />
        </div>

        <div class="checkbox">
          <input type="checkbox" id="showPassword" [(ngModel)]="showPassword" name="showPassword" />
          <label for="showPassword">Show Password</label>
        </div>

        <button type="button" (click)="login()">Login</button>
        
      </form>
    </div>
  </div>

  <div class="panel right hover-box">
    <img src="assets/images/lib1.png" alt="Right Image" />
  </div>
</div>



<!-- ngModel :  creates a two-way data binding between a form input and a component property.
Two way means Whatever the user types in the input field will automatically update the variable in the TypeScript class.If the variable changes in code, the input field also updates automatically. -->